#home_footerTitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#home_daftarFooterBtn {
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0.8px;
  border-radius: 32px;
  background-color: #469b7f;
  color: white;
  font-size: 14px;
  width: 15rem;
  padding: 1.2rem;
  //   text-align: center;
}

#home_footerTopContainer {
  font-family: "IBM Plex Sans", sans-serif !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

#home_footerBottom {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

#home_pFooterBottom {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.7em;
}
