#signup_logo {
  font-family: "IBM Plex Sans", sans-serif;
  text-align: center;
  margin-top: 5rem;
  letter-spacing: -1px;
  color: #469b7f;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#signup_header {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 2.4rem;
}

.signup_field {
  margin-bottom: 2rem !important;
}

.signup_input {
  background: #a7a7a7 !important;
  opacity: 0.2;
  color: #000000 !important;
  border-radius: 5px;
}

.signup_input::placeholder {
  color: #000000 !important;
}

.signup_label {
  font-size: 0.9em !important;
  margin-bottom: 12px !important;
  color: #000000 !important;
  letter-spacing: 1px;
}

#signup_container .ui.segment {
  box-shadow: 0 !important;
  box-shadow: initial;
  border: 0px !important;
  margin-bottom: 2em;
}

#signup_submitbtn {
  border-radius: 32px !important;
  background-color: #469b7f;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.signup_notes {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #000000;
  font-weight: 500;
  opacity: 0.54;
  text-align: center !important;
  margin-top: 12px !important;
}
